.product-list {
  text-align: center;
  background-color: skyblue;
  padding: 25px;
}
.product-list ul li {
  display: inline-block;
  border: 1px solid black;
  padding: 5px;
  font-size: larger;
  overflow: scroll;
  scrollbar-width: none;
  width: 150px;
}
.product-list ul {
  background-color: yellow;
  border-radius: 2px;
  padding-top: 10px;
  width: 94%;
  margin: auto;
}

@media (max-width: 1390px) {
  .product-list {
    padding: 25 px 0px;
  }

  .product-resp {
    width: 94vw;
    overflow: scroll;
    margin: 1px auto;
    padding-bottom: 10px;
    background-color: yellow;
    scrollbar-width: none;
  }
  .product-list ul {
    display: flex;
    width: 1310px;
    padding-left: 14px;
  }
}
