@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@700&display=swap");
.navbar {
  width: 100%;
  background-color: rgb(29, 31, 32);
  display: flex;
  flex-direction: row;
  color: white;
  /* border: 4px solid red; */
  /* padding: 6px 5px; */
  height: 9%;
  justify-content: space-around;
}

.nav-mobile {
  display: none;
}
.navbar h2 {
  margin: 12px 0px;
  font-family: cursive;
  color: orangered;
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar ul li {
  margin: 15px 6px;
  padding: 5px 5px;
  font-size: 1.2rem;
  font-family: Roboto;
  cursor: pointer;
}
.navbar button {
  margin: 13px 7px;
  font-size: 1.2rem;
  padding: 5px 12px;
  font-family: Roboto;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
}
.navbar button:hover {
  color: red !important;
  background-color: white !important;
}
.lnk {
  color: white;
  text-decoration: none;
}
.lnk:hover {
  color: red;
}

@media (max-width: 870px) {
  .navbar > h2 {
    /* margin: 12px 5px; */
    margin-top: 20px;
    font-size: 1.1rem;
  }
  .navbar > ul > li {
    font-size: 1 rem;
    margin-top: 18px;
  }
  .nav-btn {
    width: 120px;
  }
}
@media (max-width: 770px) {
  .navbar > h2 {
    /* margin: 12px 5px; */
    margin-top: 20px;
    font-size: 1rem;
    margin-left: 0px;
  }
  .navbar > ul > li {
    font-size: 20px;
    margin-top: 22px;
  }
  .nav-btn {
    width: 120px;
  }
  .nav-btn-i {
    display: none !important;
  }
}

@media (max-width: 770px) {
  .nav-btn {
    display: none;
  }
}

/* this code is to make navbar resposive under 580 */

@media (max-width: 595px) {
  .nav-mobile {
    display: block;
    font-size: 18px;
    margin-top: 16px;
    /* margin-right: 0px; */
  }
  .nav-ul {
    display: none !important;
  }
  .navbar > h2 {
    margin-top: 18px;
    font-size: 1.2rem;
    margin-left: 0px;
  }
  .menu-icon {
    position: fixed;
    color: white;
    z-index: 16;
    font-size: 30px;
  }

  .mobile-menu {
    position: fixed;
    z-index: 14;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(29, 31, 32);

    display: flex;
    flex-direction: column;
  }

  .user-box {
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 20px;
    font: 1.8rem "Robelo";
  }
  .lnk {
    margin-left: 20px;
    font: 1.4rem "Robelo";
    margin-top: 15px;
  }
  .lnk:hover {
    color: orangered;
  }
}
